<div class="container">
  <div class="row">
   <div class="col-md-12">
     <%= image_tag @profile.image, class:'img-responsive'%> 
      <p class="text">
       <h1><%= @profile.text %></h1>
      </p> 
      <p class="body" style="padding: 15px">
    <%= simple_format @profile.body %>
   </p>
  </div>
 </div>
</div>