<div class="container">
  <div class="row">
    <h2><div class="text-center">MENU</h2>
      <% @articles.each do |article| %>
      <%= link_to article do %>
        <div class="col-md-3 article-block">
      　 <% if article.image.attached? %>
      　 <%= image_tag article.image, class: 'img-responsive'%>
         <% end %>
      　  <P class="title"><%= article.title %></p>
     　   </div>
      <% end %>
     <% end %>
    </div>
   </div>    　
 </div>
         
    
     