<div class="container">
  <div class="col-md-12 margin-top-5per article-block">
    <h1 class="text-center">ブログの新規作成</h1>
    <%= image_tag 'pc.jpg', class: 'article-image' %>
     <div>
    <%= render 'form', article: @article %>
   </div>
 </div>
</div>
